<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Experience</title>
	{% load static %} 
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	
</head>
<body>
	<section class="landing-main">	
		<div class="content" style="color:black">
                <h1>My Experience</h1>
                    <p>
                        &emsp; Nama saya Tegar Muhammad Soekarno, saya berasal dari Kota Bandung, Jawa Barat. Saya mahasiswa jurusan Teknik Informatika di Universitas Katolik
						Parahyangan (UNPAR). Alamat email aktif saya adalah tegarmuhammad3775@gmail.com. Bahasa pemrograman yang pernah saya pelajari sebelumnya adalah
						Java, PHP, SQL, Ruby dan Javascript. Saya juga mengenal beberapa framework dalam pengembangan aplikasi berbasis web, yang terdiri dari Codeigniter, 
						Ruby on Rails (ROR), Vue.js, Boostrap, dan W3.CSS. Codeigniter dan Ruby on Rails (ROR) merupakan framework back-end dalam pengembangan aplikasi 
						berbasis web yang juga menerapkan konsep Model-View-Controller (MVC). Vue.js merupakan framework untuk javascript. Boostrap dan W3.CSS adalah 
						framework untuk Cascading Style Sheet (CSS). Saya juga pernah membuat aplikasi berbasis web dengan menggunakan beberapa framework yang telah 
						disebutkan sebelumnya, diantaranya :
						<ul>
							<li>Membuat Aplikasi CRUD sederhana dengan menggunakan framework Vue.js dan framework Boostrap <br>
								Link : https://github.com/tegarmuhammad3775/CRUD-Vue.js 
							</li>
							<li>
								Membuat Aplikasi CRUD sederhana dengan menggunakan framework Ruby On Rails <br>
								Link : https://github.com/tegarmuhammad3775/CRUD-ROR 
							</li>
							<li>
								Membuat Sistem Informasi Computational Thinking Teknik Informatika UNPAR dengan menggunakan 
								framework CodeIgniter (masih dalam pengembangan)
							</li>
						</ul>

                    </p>
			

		</div>

	</section>	
	
</body>
</html>
