
h1{
    color: aliceblue !important;
}

article{
    color: aliceblue;
    font-size: 18px;
}

.landing-main { 
  background: url("/static/images/image.jpg"); 
  background-size: cover;
  
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 18rem;
    padding-bottom: 18rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.exp{
    margin-top: 20px;
}