<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ name }}</title>
	{% load static %} 
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	
</head>
<body>
	<section class="landing-main">	
		<div class="content">
				<h1>Hello my name is {{ name }}</h1>
				<article>NPM : {{ npm }}</article>
				<article>I am {{ age }} years old</article>
				
				<span class="exp">
					 <a href="{% url 'my_experience' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">My Experience</a>
				</span>
		</div>
	</section>	
	
</body>
</html>
